{% extends 'base.html' %}

{% block title %}
select fields
{% endblock %}

{% block body %}
<h5 class="mt-3">Select Fields to extract</h5>
<form method="POST" action="{{ url_for('views.edit_socr') }}">
    <input type="text" name='document_name' value='{{document_name}}' hidden>
    {% if data %}
        {% for item in data %}
            {% for key, value in item.items() %}
                <input type="checkbox" name="fields" value="{{key}}|{{value}}" checked>
                <label>{{ key }}</label>
                <br>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <button type="submit" class="btn mt-4 btn-sm btn-success">
        Extract
    </button>
</form>

{% endblock %}